# LaTeX intermediate files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.brf
*.nav
*.snm
*.vrb

# Output files
*.pdf
*.epub
*.dvi
*.ps

# Editors
*.swp
*~

# Images
*.png
*.jpg
*.jpeg


